.popupWrapper{
    position: fixed;
    width: 100%;
    height: 100dvh;
    z-index: 88;
    background-color: rgba(0, 0, 0, 0.307);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    .popup{
        width: 30%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
        border: 1px solid black;
        background-color: azure;
        padding: 1rem 1rem 3rem;
        position: relative;
        .btns{
            display: flex;
            gap: 2rem  ;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }
}