.progressBarWrapper {
  height: 0.5rem;
  width: 100%;
  padding: 2px;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.progressBar{
    border-radius: .5rem;
    height: 100%;
    background-color: green
}
